<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type ="text/css" href="app.component.css">
    </head>    

    <body>
        <div class="navbar">
            <div class="container">
              <br>
                <a class="logo" href="#">ODC <span  style="color:#007AF3; display: inline;">.com </span> <sub  style="color:black; text-shadow: 2ex;"> Enigebay</sub></a>
                <!-- <img id="mobile-cta" class="mobile-menu" src="assets\image\menu.svg" alt=""> -->
        
                <nav>
                  <!-- <img id="mobile-exit" class="mobile-menu-exit" src="images/exit.svg" alt="Close Navigation"> -->
        
                  
                  <ul class="primary-nav">
                    <li class="current"><a routerLink="home">Home</a></li>
                    <li><a routerLink="product">Product</a></li>
                    <li><a routerLink="customers">Customer</a></li>
                    <li><a href="#">Domain</a></li>
                    <li><a href="#">Pricing</a></li>

                  </ul>
        
                  <ul class="secondary-nav">
                    <li><a href="#">Login</a></li>
                    <li class="go-preium-cta"><a href="#">Cart</a></li>
                  </ul>
                 
                </nav>
                
            </div>
        </div>
         

        <!-- <app-customers></app-customers> -->
        <router-outlet></router-outlet>
       

       
    </body>
</html>
